* {
  margin: 0;
  padding: 0;
  font-family: "Palatino", "Times New Roman", serif;
  box-sizing: border-box;
}

body {
   background-image: url("https://image.freepik.com/free-photo/texture-background-white-satin_1048-10193.jpg");
}


.hero {
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(68,68,68,1) 100%);
  min-height: 100vh;
  width: 100%;
  color: #fff;
  position: relative
}




nav {
    position: sticky;
    display: flex;
    align-items: center;
    top: 0;
    width: 100%;
    padding: 0px 20px;
    background-image: url("https://image.freepik.com/free-photo/texture-background-white-satin_1048-10193.jpg");
    border-radius: 15px;
    border-bottom: 5px double black;
}

nav .logo {
  width: 7%;
  height: 7%;
  min-width: 80px;
  min-height: 70px;
  margin-right: auto;
}

.nav-links {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0px;
    margin-right: 5%;
}

.nav-links a {
    display: block;
    border-radius: 30px;
    padding: 16px 25px;
    color: #111;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    transition: all ease-in-out 100ms;
}

.nav-links a:hover {
    background-image: linear-gradient(90deg, pink, navy);
    color: white;
    border-radius: 50%;
}

h1 {
  width: auto;
  font-size: 3em;
  text-align:center;
  background-color: white;
  padding: 30px;
  margin: 0;
  font-weight: bold;
}

.BigBlock {
  width: 100%;
  padding: 0;
}

.BigBlock > div {
  width: 33.33%;
  float: Left;
  height: 100%;
  min-height: 530px;
  vertical-align: top;
  margin: 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.BigBlock p, .BigBlock ul {
  margin-top: 0;
  padding: 0 50px;
  line-height: 1.4;
  font-size: 18px;
}

#Left {
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(68,68,68,1) 100%);
  color: white;
}

#Center {
  background-color: white;
}

#Right {
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(68,68,68,1) 0%, rgba(0,0,0,1) 100%);
  color: white;
}

ul {
  text-align: left;
  margin-left: 15px;
}


h2 {
  background-color: transparent;
  color: white;
  width: auto;
  margin-top: 0;
  text-align: center;
  padding: 30px 30px 15px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#Center h2 {
  color: black;
}

.quote {
  width: 50%;
  height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  float: left;
  clear: both;
  position: relative;
  text-align: center;
}

.quote span {
  font-size: 1.50em;
  margin: 0 100px;
  font-style: italic;
  letter-spacing: 2px;
}

.quote span:last-child {
  font-size: 1em;
  margin: 20px 50px 0;
  font-style: normal;
  text-transform: uppercase;
  font-weight: bold;
}

#image {
  width: 50%;
  float:left;
  display:block;
}